*,
*::before,
*::after {
    box-sizing: inherit;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    /* font-family: "Sava Semibold", serif;
    font-size: 18px; */
    width: 100vh;
    height: 100vh;
    margin: 0 auto;
    background-image: url(../assets/home.png);
    background-repeat: no-repeat;
    background-size: cover;
    /* background-position: 70%; */
}

.wrapper {
    display: flex;
}

.ancients-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-width: 60%;
    max-height: 35%;
    margin: 30px;
    grid-gap: 20px;
}

.ancients-card-azathoth,
.ancients-card-cthulthu,
.ancients-card-iogsothoth,
.ancients-card-shubniggurath {
    width: 100%;
    height: 0px;
    padding-bottom: 129%;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 16px;
    border: 3px solid rgb(68, 64, 61);
    cursor: pointer;
}

.ancients-card-azathoth {
    background-image: url(../assets/Ancients/Azathoth.png);
    background-size: 100%;
    background-position: 50%;
    background-size: cover;
}

.ancients-card-cthulthu {
    background-image: url(../assets/Ancients/Cthulthu.png);
    background-size: 100%;
    background-position: 50%;
    background-size: cover;
}

.ancients-card-iogsothoth {
    background-image: url(../assets/Ancients/IogSothoth.png);
    background-size: 100%;
    background-position: 50%;
    background-size: cover;
}

.ancients-card-shubniggurath {
    background-image: url(../assets/Ancients/ShubNiggurath.png);
    background-size: 100%;
    background-position: 50%;
    background-size: cover;
}

.ancients-card-azathoth,
.ancients-card-cthulthu,
.ancients-card-iogsothoth,
.ancients-card-shubniggurath:hover {
    transform: scale(1, 2, 3, 4);
    transition: 0.5s;
}

.ancients-card-azathoth,
.ancients-card-cthulthu,
.ancients-card-iogsothoth,
.ancients-card-shubniggurath:active {
    transform: scale(1, 2, 3, 4);
}

.difficulty-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 34%;
    position: absolute;
    top: 0;
    right: 0;
    margin: 30px;
    gap: 5px;
}

.difficulty-easiest,
.difficulty-easy,
.difficulty-normal,
.difficulty-hard,
.difficulty-hardest {
    display: flex;
    width: 200px;
    height: 50px;
    border: 3px solid rgb(68, 64, 61);
    border-radius: 8px;
    background-color: rgba(243, 234, 219, 0.5);
    align-items: center;
    justify-content: center;
    font-weight: 700;
    color: rgb(54, 49, 39);
    cursor: pointer;
}

.difficulty-easiest:hover,
.difficulty-easy:hover,
.difficulty-normal:hover,
.difficulty-hard:hover,
.difficulty-hardest:hover {
    background-color: #fff;
    color: #000;
}

/* .difficulty-easiest {}

.difficulty-easy {}

.difficulty-normal {}

.difficulty-hard {}

.difficulty-hardest {} */